__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/

fw/esp32/build/
fw/esp32/.pio/
fw/esp32/.vscode/

build/
dist/
*.swp
*.swo
*~
.DS_Store

.vscode/settings.json
.idea/
*.sublime-project
*.sublime-workspace

Thumbs.db
.directory
